@import "tailwindcss";

/* Configuración de Temas (Antes iba en tailwind.config.js) */
@theme {
  /* Registramos las fuentes que vienen del Layout */
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  
  --color-crema: #FAF9F6;
  --color-tierra: #4A443F;
  --color-artesano: #BC6C25; /* Un tono arcilla para tu marca */
}

@theme {
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }
}

/* Estilos base */
@layer base {  
  h1, h2, h3, .font-serif {
    font-family: var(--font-serif);
  }
}

@layer utilities {
  /* Oculta la barra de scroll pero mantiene la funcionalidad */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}
